
.first-section {
  width: 100vw;
  height: 700px;
  background-image: url(../img/bg-img_8.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  margin-top: -40px;
}
.first-div {
  margin: 0 auto;
  width: 900px;
  height: 350px;
  background-color: $bf-fff;
  border-radius: 25px;
  position: relative;
  top: 150px;
  h2 {
    position: relative;
    top: 50px;
    font-size: 48px;
  }
  
  p {
    padding: 20px;
    margin: 0 auto;
    width: 630px;
    font-size: 23px;
    color: #111;
    line-height: 1.5;
  }
  label{
    font-size: 20px;
  }
  button {
    padding: 18px 35px;
    border-radius: 30px;
    background-color: rgb(255, 119, 69);
    color: $bf-fff;
    font-size: 20px;
    letter-spacing: 2px;
    border-style: none;
  }
  button:hover{
    background-color: orangered;
  }
  
  input {
    border-style: none;
    border-bottom: 55px;
    font-size: 17px;
    width: 500px;
    margin: 50px 10px 0;
    padding: 10px;
    border-bottom: 1px solid $null;
    outline: none;
  }
  span , a {
    position: relative;
    top: 200px;
    color: $bf-fff;
    font-size: 23px;
  }
  a{
    padding: 5px;
  }
}