.contact{
    // width: 100vw;
    width: 100%;
    display: flex;
    background-color: #d9cccc;
}
.contact__img img{
    width: 800px;
}
.contact__titles{
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 40px;
    a{
        text-decoration: none;
        color: #111;
    }
    button{
        width: 200px;
        height: 60px;
        border-radius: 8px;
        background-color: #111;
        color: #fff;
        border-style: solid;
        margin-left: 100px;
        border: none;
    }
    button:hover{
        width: 200px;
        height: 60px;
        border-radius: 8px;
        background-color: #111;
        color: #fff;
        border-style: solid;
        background-color:rgb(245, 123, 62);
    }

}
.contact__title-capital{
    position: relative;
    font-size: 2.5rem;
    line-height: 1.6;
    color: #111;
    margin-left: -50px;
}
.contact__title-capital_color-orange{
    font-size: 2.5rem;
    position: relative;
    margin-left: -50px; 
    color: rgb(245, 123, 62);
    padding-bottom: 30px;
}
.contact__title-small{
    position: relative;
    width: 400px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 100px;
    line-height: 30px;
}
.contact__title-link{
    text-align: left;
    position: relative;
    margin: 20px;
    margin-left: 100px;

}