.back__color {
    background-color: black;
    width: 100%;
    height: 900px;
    margin-top: -22px
  }
  
  .main-section__cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 19px;
    width: 200px;
    margin-left: 200px;
  }
  
  .container-card {
    background-color: white;
    width: 510px;
    height: 340px;
    border-radius: 15px;
  }
  
  .main-section__cards img {
    padding: 1.5rem;
    width: 200px;
    border-radius: 50%;
  }
  
  .text-bob {
    position: relative;
    top: -190px;
    left: 240px;
  }
  
  .main-section__cards h2 {
    color: #f5773d;
  }