body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
  }
  
  .about-us-section {
    max-width: 100vw;
    height: 800px;
    background-color: #DACFCB;
    margin: 0 auto;
    padding: 100px;
    display: grid;
    grid-template-areas: "img title";
  }
  
  .about-us-section__image-card {
    max-width: 664px;
    height: 564px;
    background-image: url(../img/cccc-min.jpg);
    background-size: cover;
    background-position: center;
    grid-area: img;
    margin-left: -100px;
  }
  
  .about-us-section__additional-information {
    width: 100%;
    position: relative;
    top: 560px;
    left: 430px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-area: title;
    margin: 0 auto;
    background-color: $color-df;
  }
  .about-us-section__additional-information div {
    width: 366px;
    height: 177px;
    background-color: #f5773d;
    box-sizing: border-box;
    padding: 40px 27px;
    color: $bf-fff;
    margin: 0;
    vertical-align: middle;
    border-radius: 20px;
    animation-name: anim;
    animation-duration: 1500ms;
  }
  .about-us-section__additional-information div h3 {
    font-size: 20px;
    margin: 10px;
    display: inline-block;
  }
  .about-us-section__additional-information div i {
    font-size: 20px;
  }
  .about-us-section__additional-information div p {
    line-height: 1.5;
    margin: 5px;
  }
  
  .about-us-section__title {
    width: 100%;
    margin: -20px 50px;
    text-align: justify;
    word-spacing: 3px;
    line-height: 2;
  }
  .about-us-section__title h2 {
    font-size: 48px;
  }
  .about-us-section__title h4 {
    font-size: 18px;
    margin-top: -50px;
  }
  .about-us-section__title p {
    max-width: 566px;
    min-width: 300px;
    margin-top: -10px;
    color: #111;
  }
  .about-us-section__title i, .about-us-section__title a {
    color: #111;
  }
  .about-us-section__title a {
    color: #111;
    padding: 5px;
    font-style: italic;
  }
  
  .btn {
    width: 204px;
    height: 65px;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    animation-name: anim-scale;
    animation-duration: 1500ms;
  }
  
  .btn:hover {
    background-color: #f5773d;
  }
  
  @keyframes anim-scale {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes anim {
    0% {
      transform: translate(1000px);
    }
    100% {
      transform: translate(0);
    }
  }
  @media only screen and (max-width: 1300px) {
    body {
      width: 100vw;
      height: 800px;
      background-color: #DACFCB;
    }
  }
  @media only screen and (max-width: 1191px) {
    .about-us-section__additional-information {
      margin: 0 0 0 -110px;
    }
    .about-us-section__additional-information div {
      width: 300px;
      height: 177px;
      background-color: #f5773d;
      box-sizing: border-box;
      padding: 40px 27px;
      color: white;
      margin: 0;
    }
    .about-us-section__image-card {
      margin: 0 0 0 -250px;
    }
  }
  @media only screen and (max-width: 991px) {
    .about-us-section__additional-information {
      margin: 0 0 0 -300px;
    }
    .about-us-section__additional-information div {
      width: 226px;
      height: 246px;
      background-color: #f5773d;
      box-sizing: border-box;
      padding: 30px;
      color: white;
      margin: 0;
    }
    .about-us-section__title {
      position: absolute;
      width: 100vw;
      margin: -100px 0 0 -50px;
    }
    .about-us-section__title p {
      max-width: 660px;
    }
    .about-us-section {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }
    .about-us-section__image-card {
      padding: 0 150px 0 0;
      margin: 0 0 0 -350px;
      position: absolute;
      width: 1000px;
      margin: 300px 0 0 -180px;
    }
  }
  @media screen and (max-width: 767px) {
    .about-us-section__additional-information {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
    }
    .about-us-section__additional-information {
      margin: 0 0 0 -300px;
    }
    .about-us-section__additional-information div {
      width: 540px;
      height: 201px;
      background-color: #f5773d;
      box-sizing: border-box;
      padding: 29px 10px;
      color: white;
      margin: 0;
    }
    .about-us-section__title {
      position: absolute;
      width: 1000px;
      margin: -100px 0 0 -50px;
    }
    .about-us-section__title p {
      width: 1000px;
    }
    .about-us-section {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }
    .about-us-section__image-card {
      padding: 0 150px 0 0;
      margin: 0 0 0 -350px;
      position: absolute;
      width: 1000px;
      margin: 300px 0 0 -250px;
    }
  }
  @media screen and (max-width: 575px) {
    .about-us-section__additional-information {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
    }
    .about-us-section__additional-information {
      margin: -200px 0 0 -280px;
    }
    .about-us-section__additional-information div {
      width: 340px;
      height: 184px;
      background-color: #f5773d;
      box-sizing: border-box;
      padding: 29px 30px;
      color: white;
      margin: 0;
    }
    .about-us-section__title {
      position: absolute;
      width: 1000px;
      margin: -100px 0 0 -50px;
    }
    .about-us-section__title p {
      width: 300px;
    }
    .about-us-section__image-card {
      position: relative;
      max-width: 100px;
      margin: 500px 0 0 -280px;
      max-width: 400px;
      height: 364px;
      padding: 0 30px;
    }
  }