doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Award Winning
    
        // *============ icon site ================
        link(rel="icon", href="../img/tab-icon.png")

        // *============ cdn ==============
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")

        // *============ STYLE ============
        link(rel="stylesheet", href="../scss/main.css")

    body 
        // *============ Navigation ==============
        nav 
            div.navbar
                a(href="") 
                    img.logo(src="../img/navbar/logo.png", alt="logo")
                i( onclick="hide('list')" ).fa.fa-bars
                ul#list 
                    div.right-burger-menu
                        a.home(href="./index.html") home
                        a.close-icon(href="") 
                            img(src="../img/close.png", alt="icon-close")
                    
        // *============ my section ==============
        section.my_page
            div.my_page__left 
                h6.my_page__text About Us
                h1.my_page__h1.award Award Winning 
                h1.my_page__h1.design Design Agency
                p.mp_page__freepik Image from 
                    a(href="") Freepik
                button.my_page__btn contact us
            div.my_page__right

            // * ============= CARD =============
        div.my_page__card_grid
            div.my_page__the_card
                img.my_page__card_img(src="../img/card/my_card1.png", alt="card-image")
                h4.my_page__text_cloud Cloud Solution
                a(href="").my_page__text_more more
            div.my_page__the_card
                img.my_page__card_img(src="../img/card/my_card2.png", alt="card-image")
                h4.my_page__text_cloud Speed Optimization
                a(href="").my_page__text_more more
            div.my_page__the_card
                img.my_page__card_img(src="../img/card/my_card3.png", alt="card-image")
                h4.my_page__text_cloud Online Marketing
                a(href="").my_page__text_more more
            div.my_page__the_card
                img.my_page__card_img(src="../img/card/my_card4.png", alt="card-image")
                h4.my_page__text_cloud Website Design
                a(href="").my_page__text_more more
        // Nodir Sec2

        section( style="margin-top: -15px;") 
            .u-text
                p Our way
            div.our-text 
                p Our team is committed to making a positive impact for our clients, their users, and our community.
            main.cards
                .card 
                    h1.year 2019
                    .icon
                        img(src="../img/div_g.png", alt="")
                    p.text Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.
                .card 
                    h1.year 2020
                    div.icon
                        img(src="../img/div_g.png", alt="")
                    p.text Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.
                .card 
                    h1.year 2021
                    div.icon
                        img(src="../img/div_g.png", alt="")
                    p.text Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.
                .card 
                    h1.year 2022
                    div.icon
                        img(src="../img/div_g.png", alt="")
                    p.text Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail.
        // *============ SECTION 3 ============
        section.sec__3
            div.contact
                div.contact__img
                    img(src="../img/vvv-min.jpg", alt="") 
                div.contact__titles 
                    h1.contact__title-capital Partner with Codal 
                    h1.contact__title-capital_color-orange strategize for the future 
                    p.contact__title-small Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. ​Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    p.contact__title-link Image from 
                        a(href="Freepik") Freepik 
                    button.contact__title-button CONTACT US
        // *============ SECTION 4 ============
        .back__color
            .section-4 
                h1 Meet The Team
                h5 Image by 
            .main-section__cards 
                .container-card
                    img(src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/39261fbbefa65d409eb3d909/b5f9e7f9-f0cf-42fb-96c9-3156bc7d64a2.jpg", alt="") 
                    .text-bob   
                        h5 creative leader  
                        h2 Bob Brown
                        p Glavi amet ritnisi libero molostie ante <br> ut fringilla purus eros quis glavrid from <br> dolor amet iquem lorem bibendum    
                .container-card
                    img(src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/6ae86b907f44543284a736f4/13064dd8-b859-4a0d-8b5b-0944d529a9c2.jpg", alt="")
                    .text-bob   
                        h5 creative leader  
                        h2 Mary Smith
                        p Glavi amet ritnisi libero molostie ante <br> ut fringilla purus eros quis glavrid from <br> dolor amet iquem lorem bibendum  
                .container-card
                    img(src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/b8826e852f63537a8c1ef575/gffgfg.jpg", alt="")
                    .text-bob   
                        h5 creative leader  
                        h2 John Rich
                        p Glavi amet ritnisi libero molostie ante <br> ut fringilla purus eros quis glavrid from <br> dolor amet iquem lorem bibendum  
                .container-card
                    img(src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/caf716dfc20f5c49bc47561c/76ad54de-76a3-4973-8d72-5982d76db00c.jpg", alt="")
                    .text-bob   
                        h5 creative leader  
                        h2 Rat Reynolodos
                        p Glavi amet ritnisi libero molostie ante <br> ut fringilla purus eros quis glavrid from <br> dolor amet iquem lorem bibendum       


        // *============ SECTION 5 ============
        section.number5-client
            div.number5-client_name
                h1 We create and improve
                h1.number5-client_h1-2 web & mobile products
            div.number5-client_info
                p Excepteur sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id <br>est laborum. ​Ut enim ad minim veniam, quis<br> nostrud exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat. Duis aute <br>irure dolor in reprehenderit in voluptate velit<br> esse cillum dolore eu fugiat nulla pariatur.

            div.number5-client_url
                p Image from 
                    a(href="") Freepik


            img.number5-client_img(src="https://assets.nicepagecdn.com/d2cc3eaa/2878699/images/-min.png", alt="")
                    

            button.number5-client_buttons CONTACT US  
        // *============ SECTION 6 ============
        section.section 
            div.section__heading 
                h1 Testimonials
            div.section__div 
                div.section__div__div 
                    div.section__div__div__img 
                        img(src="https://images02.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/6e77b088add750adb748c9e4/pexels-photo-4576085.jpeg?version=", alt="")
                    div.section__div__div__pragraf
                        p Sample text. Click to select the text box. Click again or double click to start editing the text. 
                        h3 STELLA LARSON
                div.section__div__div 
                    div.section__div__div__img 
                        img(src="https://images02.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ea78d2245c955eaba54a5702/pexels-photo-5141074.jpeg?version=", alt="")
                    div.section__div__div__pragraf 
                        p Sample text. Click to select the text box. Click again or double click to start editing the text.
                        h3 NICK JHONSON
                div.section__div__div 
                    div.section__div__div__img 
                        img(src="https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/502e4bcf1d4f579b94d1e793/pexels-photo-9821204.jpeg", alt="")
                    div.section__div__div__pragraf 
                        p Sample text. Click to select the text box. Click again or double click to start editing the text.
                        h3 OLGA IVANOVA
                div.section__div__div 
                    div.section__div__div__img 
                        img(src="https://images02.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/22a6a6dad5ca522c96fc9b62/pexels-photo-2989724.jpeg?version=", alt="")
                    div.section__div__div__pragraf 
                        p Sample text. Click to select the text box. Click again or double click to start editing the text.
                        h3 PAUL HUDSON
                div.section__div__div 
                    div.section__div__div__img 
                        img(src="https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/8ee196c29f605c2ba607f750/pexels-photo-9787579.jpeg", alt="")
                    div.section__div__div__pragraf 
                        p Sample text. Click to select the text box. Click again or double click to start editing the text.
                        h3 CASH HUDSON
                div.section__div__div 
                    div.section__div__div__img 
                        img(src="https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/3dae7e39431c52e799018bb6/pexels-photo-9867161.jpeg", alt="")
                    div.section__div__div__pragraf 
                        p Sample text. Click to select the text box. Click again or double click to start editing the text.
                        h3 MIKE PERRY
        // *============ SECTION 7 ============
         //- Avout us section
        section.about-us-section
            div.about-us-section__image-card
                div.about-us-section__additional-information
                    div.additional-information__phone-numbers
                        i.bi.bi-telephone-fill
                        h3 CALL US
                        p 1 (234) 567-891,
                        p 1 (234) 987-654
                    div.additional-information__location
                        i.bi.bi-geo-alt-fill
                        h3 LOCATION
                        p 121 Rock Sreet, 21 Avenue, New York, NY 92103-9000
                    div.additional-information__working-time
                        i.bi.bi-clock-fill
                        h3 HOURS
                        p Mon – Fri …… 11 am – 8 pm, Sat, Sun  …… 6 am – 8 pm
            div.about-us-section__title
                h2 About Us
                h4 Sample Headline
                p Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.
                i Image from
                a(href="#") Freepik 
                br
                button.btn CONTACT US
        // *============ SECTION 8 ============
        section.first-section 
            div.first-div   
                h2 Be the first to know
                p Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
                label  Email
                input(type="text" placeholder="Enter a valid email addres")
                button SUBMIT
            div.second-div
                span Imaga from
                a(href="") Freepik 

        //*============= SECTION 9 ===========
        section.asil_black_div  
            div.opa
                img(src="../img/yellow_girl.jpg", alt="")
            div.apo
                div.ghhj
                    h1 Contact Us
                br
                div.asd
                    h2 phone:
                    h3 (555)123-4567
                br
                br
                div.qwe
                    h2 e-mail: 
                    h3 INFO@SAMPLE.COM
                br
                br
                div.jun
                    h2 ADDRESS:
                    h3 ALEXANDRIA, 32 WASHINGTORN STR, 22303
                br
                div.rul
                    h2 OPENING HOURS:
                    h3 MONDAY — THURSDAY 10:00 – 23:00
                    h3 FRIDAY — SUNDAY 10:00 – 19:00
                    button Book consultation
            div.ilg
                h6 Sample text. Click to select the Text Element.
                div.lod
                    a(href="http://nicepage.com/website-design/preview/inspiring-digital-agency-2878708?device=desktop") 
                        h5 webcitey template  
                    h6  created with 
                    a(href="http://nicepage.com/website-design/preview/inspiring-digital-agency-2878708?device=desktop") 
                        h5 wesity builtir softeferi

        
                    



        // !============ js btn bar ==============
        script(src="../js/burger-menu.js") 